main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.composition {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  color: yellowgreen;
  height: 100vh;
  width: 100vw;
}

footer img:hover {
  width: 60px;
  background-color: #9acd32;
  border-radius: 9px;
}

header {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  width: 100vw;
}

header * {
  color: yellowgreen;
  text-decoration: none;
  margin: 19px;
}

header a:hover {
  color: #6ca100;
}
